# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*.csv

# dependencies
/node_modules
**/node_modules/

/.pnp
.pnp.js
.npm/

# testing
/coverage
template/src/__tests__/__snapshots__/

# production
/build
/dist
/out

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.development
.env.production
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log
*.log*

# IDE
.idea/

# build artifacts
*.tgz
my-app*
/.changelog

# environment variables
.env

**/.eslintcache

# Native modules build output
src/native-modules/**/bin/
src/native-modules/**/build/

# TypeScript build info files
**/*.tsbuildinfo

build-assets/
